* {
    /* ============ */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    /* =========== */
}
header{
    /* ============ */
   background-color: rgb(166 163 167 / 77%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
   align-items: center; 
   padding: 10px ;
   /* ============= */
   box-sizing: border-box;
}
.logo{
    text-decoration:none ;
    color: rgb(0, 0, 0);
text-transform: uppercase;
font-weight: 600;
font-size: 1.8em;
}
.navigation a{
    color: #7d0588;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    /* ================= */
    z-index: 10000;
}
.navigation a:hover{
    color: #000000;
}
section{
    /* padding: 100px 200px; */
   /* width: 100%; */
    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    
    background-color: 
    rgb(244, 244, 189);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
 
}

.dif{
    display: flex;
    justify-content: center;

}
.lolo{
    /* ========= */
    text-align: left;
padding-top: 323px;
    padding-left: 80px;
}
.pic{
      width: 500px;
    height: 500px;
    border-radius: 245px;
    margin: 100px;
    box-shadow: 0 0 10px 10px #a78f45
}

.main h4{
   
    color: #030505;
    font-size: 1.5em;
    font-weight: 500;
}
.main h1{
    font-weight: 800;
     display: inline-block;
    margin-top: 10px;
      color: #6a5734;
        font-size: 3em;
}
.main p{
        color: #100a01;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
margin-bottom: 30px;
}
.social-icons {
   font-size: 6.7em;
    margin-left: 134px;
   
    margin-top: -197px;

}
.social-icons a{
   color: #6a5734;
    padding: 25px;
}


.title {
    /* display: flex; */
    /* justify-content: center; */
    color: #6a5734;
    font-size: 2.2em;
    font-weight: 800;
    /* margin-bottom: 30px; */
  /* padding-bottom: 600px; */
  text-align: center;
  padding: 50px;

}
.h2{
    text-align: center;
}
.content{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 100px;
    padding: 0 2PX;
    
}
.card {
    background-color: #d9cc87;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(51, 42, 31);
    /* margin: 20px; */
    /* padding: 10px; */
    /* border-radius: 2px; */
    /* padding-left: 200px; */
    border-radius: 20px ;
    padding: 8px;
    height: 400px;

    

}
.card:hover{
      background-color: rgb(166 163 167 / 77%);
   transform: scale(1); 
     
}

.info{
    text-align: center;

}
.info h3{
         color: #7d0588;
    font-size: 1.2em;
    font-weight: 600;
    /* margin: 10px; */

}
.img1{
       height: 160px;
    width: 319px;
    border-radius: 10px;
    
    box-shadow: 0 0 5px 3px #917a01;
    margin-bottom: 10PX;
}
.content p{
    color: rgb(0, 0, 0);
    text-align: left;
}
/*  section3=================================================== */
.h{
    color: #6a5734;
    text-align: center;
    font-size: 56px;
}
.card11{
           background-color: #0000008c;
    text-align: center;
    padding: 12px;
    border-radius: 180px;
    height: 349px;
    width: 368px;
    box-shadow: 1px 1px 10px 5px #151515;
}
.lo{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 80px;
}
.card11 h1{
    font-size: 150px; 
    text-shadow: 1px 1px 100px  black; 
    color: red;

}
.card11 h2{
    color: white;
}
.card11 h3{
    color: black;
}
.footer{
    text-align: center;
    background-color: gray;
    color: #000000;
    height: 30px;
    box-shadow: 0 0 10px 10px black;

}
.footer p{
    font-size: large;
}
